.start-menu {
  height: 100%;
  position: relative;
  & .menu-icon {
    height: 100%;
    width: 56px;
    cursor: pointer;
    background-color: green;
  }

  & .menu {
    z-index: -1;
    overflow: hidden;
    height: 500px;
    width: 350px;
    box-shadow: 1px 1px black;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 10px 10px 48px -26px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 10px 10px 48px -26px rgba(0, 0, 0, 0.21);
    box-shadow: 10px 10px 48px -26px rgba(0, 0, 0, 0.21);
    transition: bottom 0.3s ease;
    position: absolute;
  }
}
